<div
  ng-controller="AccountController"
  class="flex justify-center items-end py-7 h-screen"
>
  <div
    class="shadow-2xl bg-white p-7 rounded-xl flex items-center justify-center flex-col gap-6"
  >
    <div
      class="bg-gradient-to-r from-red-400 to-pink-600 rounded-xl p-14 flex items-center justify-center flex-col gap-6"
    >
      <h1 class="text-3xl">Account</h1>
      <img ng-src="{{ user.avatar_url }}" class="rounded-xl" alt="User Image" />
      <div class="flex flex-col items-center justify-center gap-2">
        <div class="flex gap-2 items-center justify-center">
          <i class="fas fa-user"></i>
          <p>{{user.login}}</p>
        </div>

        <div class="flex gap-2 items-center justify-center">
          <i class="fas fa-envelope"></i>
          <p>{{user.email}}</p>
        </div>
      </div>
    </div>

    <div
      class="bg-gradient-to-r from-red-400 to-pink-600 p-4 w-full bg-blue-400 rounded-lg flex items-center justify-center flex-col"
    >
      <h4>{{ currentTime.time }}</h4>
      <p>{{ currentTime.date | date:'d MMMM yyyy' }}</p>
    </div>

    <div class="flex gap-2 items-center justify-center">
      <i class="fas fa-flag"></i>
      <p>{{ user.role.charAt(0) | uppercase }}{{ user.role.slice(1) }}</p>
    </div>
    <div class="flex gap-2 items-center justify-center">
      <i class="fas fa-location-arrow"></i>
      <p>{{user.user_info.country}}</p>
    </div>

    <div class="flex gap-2 items-center justify-center">
      <i class="fas fa-calendar-plus"></i>
      <p>
        Created on
        <span class="font-semibold"
          >{{ user.created_at | date:'MMM d yyyy' }}</span
        >
        at
        <span class="font-semibold">{{ user.created_at | date:'h:mm a' }}</span>
      </p>
    </div>

    <button
      ng-click="logout()"
      class="px-4 py-2 w-full background-primary text-white rounded-lg hover:bg-pink-600 txt-primary transition-all duration-200 ease-in-out"
    >
      Logout
    </button>
    <!-- <i class="fas fa-user"></i> -->
  </div>
</div>
